{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    {% for book in books %}
        <img src="{{ book.image.url }}" height=225 width=150/>
        <h2><a href="{% url 'book_detail' slug=book.slug %}">
            {{ book.title }} 
        </a></h2>
        <p>{{ book.author }}</p>
        <p>{{ book.description }}</p>
        <p>Category: <a href="/category/{{ book.category.slug }}">{{ book.category.name }}</a></p>
    {% endfor %}
{% endblock content %}